# Activer le module de réécriture
RewriteEngine On

# Condition pour exclure le sous-dossier public
RewriteCond %{REQUEST_URI} !^/projet-Doriane/public/
RewriteCond %{REQUEST_URI} !^/public/

# Rediriger toutes les autres requêtes vers index.php
RewriteRule ^ index.php [L]
